div {
    border: 2px solid salmon; 
  
 }
 

 
 .projects {
    width: auto;
    display: flex;
    border: 5px solid green;
    justify-content: space-evenly;

 }

 .images {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }
 
 img {
     margin: auto;
     height: 400px;
     width: 400px;
     object-fit: cover;
 }
 
 .thumb {
     flex: 0 1 24%;
     height: 100px;
     width: 100px;
 }
 
 
 @media (max-width: 700px){
     .container {
         flex-direction: column;
     }
 }